{% if page_obj and page_obj.paginator.num_pages > 1 %}
<nav class="mt-4" aria-label="pagination">
  <ul class="pagination justify-content-center">

    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?{{ param_name }}={{ page_obj.previous_page_number }}">{% if LANGUAGE_CODE == 'ar' %}السابق{% else %}Prev{% endif %}</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">{% if LANGUAGE_CODE == 'ar' %}السابق{% else %}Prev{% endif %}</span></li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?{{ param_name }}={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?{{ param_name }}={{ page_obj.next_page_number }}">{% if LANGUAGE_CODE == 'ar' %}التالي{% else %}Next{% endif %}</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">{% if LANGUAGE_CODE == 'ar' %}التالي{% else %}Next{% endif %}</span></li>
    {% endif %}

  </ul>
</nav>
{% endif %}
